table{
    text-align: center;
    margin: auto;
    width: 350px;
}

td{
    padding: 5px;
}

.forn{
    background-color: hotpink;
}
.corn{
    background-color: blue;
}

.fort{
    background-color: rgb(194, 2, 194);
}

.fortress{
    background-color: darkgreen;
}